/* Home.css */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: RGBA(0, 0, 0, 0); 
  }
  
  .description-container {
    flex: 1;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif; 
    font-size: 20px; 
  }
  
  h1 {
    color: black; 
  }
  
  p {
    color: black; 
  }
  
  .error-message {
    color: #ff0000; 
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .get-account-button {
    background-color: RGBA(0, 0, 0, 0); 
    color: black; 
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more-button {
    background-color: RGB(186, 91, 56); 
    color: #ececec; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .image-container {
    flex: 1;
    max-height: 90vh;
    overflow: hidden;
    transform: translateY(-3.6%);
  }
  
  /* Add more styles as needed */
  