
.navbar {
    
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }
  
  .logo img {
    height: 50px; 
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000; 
    
  }
  
  button {
    background-color: transparent;
    border: none;
    margin-right: 10px; 
    color: #ffffff;
    font-size: 16px;
  }
  
  .search-input {
    background-color: #000000; 
    color: #ffffff; 
    border: none;
    padding: 5px; 
  }
  
  .nav-links {
    display: flex;
    gap: 20px; 
  }
  
  .nav-links a {
    color: #ffffff; 
    font-size: 16px; 
    text-decoration: none;
    margin-top: 7px;
    
  }
  
  .nav-links a.active {
    color: #ffcc00; 
  }
  

  

.nav-links .login-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-links .signup-button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}